In [35]:
import calendar
import datetime

In [36]:
year = 2023
month = 11

print(calendar.month(year, month, 0, 0))

   November 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [37]:
calendar.prmonth(2023, 11)

   November 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [42]:
datetime.date.today()

datetime.date(2023, 11, 13)

In [67]:
delta_day = datetime.date.today() - datetime.date(1988, 9, 2)
delta_day.total_seconds() / (60 * 60 * 24)

12855.0

In [69]:
#!pip install calplot
import calplot
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [182]:
from datetime import datetime
datetime.now().strftime('%Y-%m-%d %H:00:00')

'2023-11-13 15:00:00'

In [186]:
datetime_series = pd.DataFrame({'date':pd.date_range("2023-01-01", periods=8760, freq='H'),
                                'year':pd.date_range("2023-01-01", periods=8760, freq='H').year,
                                'month':pd.date_range("2023-01-01", periods=8760, freq='H').month,
                                'day':pd.date_range("2023-01-01", periods=8760, freq='H').day,
                                'hour':pd.date_range("2023-01-01", periods=8760, freq='H').hour})

november = datetime_series[datetime_series['month'] == 11]

datetime_series[datetime_series['date'] == datetime.now().strftime('%Y-%m-%d %H:00:00')]

                    date  year  month  day  hour
7599 2023-11-13 15:00:00  2023     11   13    15

In [ ]:
def set_task(task, date=datetime.now().strftime('%Y-%m-%d %H:00:00'), length=1):
    """_summary_

    Args:
        task (_type_): _description_
        date (_type_, optional): _description_. Defaults to datetime.now().strftime('%Y-%m-%d %H:00:00').
        length (int, optional): _description_. Defaults to 1.

    Returns:
        _type_: _description_
    """
    datetime_series[task] = 0
    return datetime_series

In [187]:
for i in range(1):
    print(i)

0

In [189]:
datetime.now().strftime('%Y-%m-%d %H:00:00')

'2023-11-13 15:00:00'

0    8760
Name: task, dtype: int64