# PROJECT-2

###  Содержание <a class="anchor" id=0></a>
- [1. Введение. Знакомство с датасетом](#1)
- [2. Предварительный анализ данных](#2)
- [3. Глобальный анализ показателей](#3)
- [4. Анализ кандидатов для заказчиков](#4)
- [5. Подготовка к аттестации по SQL](#5)

##  Введение. Знакомство с датасетом <a class="anchor" id=1></a>

[к содержанию](#0)

Большинство крупных компаний хранят данные в реляционных базах, так как в таком виде они более структурированы и адаптированы для внешних систем, с помощью которых, как правило, данные в базу и заносятся. В системах с такими базами данных имеют значение именно отношения между сущностями. Если вам понадобилось, например, посчитать статистику по заказам, то здесь важны отношения: заказ, клиент, товар и т. д.

>Мы переделали уже знакомый вам по предыдущему проекту датасет *hh.ru* в реляционный, чтобы вы могли попрактиковаться и в этой области.

Представьте, что вы работаете в некотором дата-центре по трудоустройству, куда стекаются данные с различных платформ для найма. Вам необходимо познакомиться с данными, понять, с какими резюме вы имеете дело, а дальше собрать статистику для различных кадровых агентств и статистических центров.

>Вы получите данные по возрасту кандидатов, по городам с наиболее активным рынком труда, поймёте специфику найма (где какие вакансии более активны), а также узнаете желаемые позиции для тех или иных кандидатов.

### Проект включает в себя несколько этапов:

1. знакомство с датасетом;
2. предварительный анализ данных;
3. анализ кандидатов;
4. глобальный анализ показателей.

###  В качестве итогового задания проекта вы подготовите текстовый **Google-документ**, в котором по каждой встречающейся вам в этом модуле задаче приведёте ваш ответ в формате:

1. номер задания;
2. код с пояснениями;
3. результат запроса (в виде таблицы);
4. общий вывод в конце по результатам анализа рынка труда.

### ЗНАКОМСТВО С ДАТАСЕТОМ

Напоминаем, что датасет, с которым мы будем работать, уже вам знаком. Мы взяли те же данные *HeadHunter*, только разбили их по таблицам и перенесли в [БД SQL](http://sql.skillfactory.ru:3000/browse/2/schema/hh). Такой процесс называется **нормализацией** (вы можете почитать про неё дополнительно, если вам понадобятся знания по проектированию баз данных).

<img src=p_2_img1.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img1.png>

**CANDIDATE**

Таблица хранит в себе общие данные по кандидатам: id, пол, возраст, желаемая должность, город, вид занятости, текущая должность, дата обновления записи и зарплата.

**CITY**

city — таблица-справочник для наших кандидатов — хранит код города и его название.

**CANDIDATE_TIMETABLE_TYPE**

Это дополнительная таблица. Она существует для организации связи многие-ко-многим, так как у нас есть много кандидатов и у них может быть несколько подходящих типов рабочего графика.

**TIMETABLE_TYPE**

Это таблица-справочник вариантов рабочего графика, подходящего кандидату.

##  2. Предварительный анализ данных <a class="anchor" id=2></a>

[к содержанию](#0)

`Задание 2.1 -2.2`

Максимальный и минимальный возраст кандидатов

In [ ]:
select
    max(age),
    min(age)
from
    hh.candidate

<img src=p_2_img3.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img3.png>

**Вывод:**
1. Минимальный возраст соискателя составляет 14 лет
2. Максимальный 100 лет, что похоже на выброс

`Задание 2.3`

Попробуем «почистить» данные. Напишите запрос, который позволит посчитать для каждого возраста (`age`) сколько (`cnt`) человек этого возраста у нас есть.
Отсортируйте результат по возрасту в обратном порядке.

In [ ]:
select
    age,
    count(*) cnt /* посчитаем количество строк для каждого возраста */
from
    hh.candidate
group by 1 /* группируем вывод по возрастам */ 
order by 1 desc

<img src=p_2_img4.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img4.png>

**Вывод:**
1. 100 летний соискатель **является выбросом** (ошибкой в данных, в дальнейшем мы не будем учитывать его при анализе)
2. Начиная с 77 лет и моложе прослеживается не единичность таких значений **принимаем их за реальные**

`Задание 2.4`

По данным Росстата, средний возраст занятых в экономике России составляет 39.7 лет. Мы округлим это значение до 40. Найдите количество кандидатов, которые старше данного возраста. Не забудьте отфильтровать «ошибочный» возраст 100.

In [ ]:
select
    count(age)
from
    hh.candidate
where
    age > 40
and age != 100 /* не учитываем "выброс" в подсчётах */

<img src=p_2_img5.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img5.png>

**Вывод:**
1. Количество кандидатов старше 40 лет 6263 (что составляет 14% от всех соискателей)
2. Если верить Росстату можно сделать вывод, что "быть занятым в экономике" и поиск работы это сильно разные вещи. Ищут работу, хотят начать или сменить работу в основном молодые люди, с увеличение возраста число соискателей падает.
3. Медианный возраст соискателей составляет около 30 лет

##  3. Глобальный анализ показателей <a class="anchor" id=2></a>

[к содержанию](#0)

`Задание 3.1`

Для начала напишите запрос, который позволит узнать, сколько (`cnt`) у нас кандидатов из каждого города (`city`).
Формат выборки: `city`, `cnt`.
Группировку таблицы необходимо провести по столбцу `title`, результат отсортируйте по количеству в обратном порядке.

***

In [2]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://skillfactory:cCkxxLVrDE8EbvjueeMedPKt@84.201.134.129:5432/project_sql")
engine.connect()

In [14]:
query_3_1 = f'''
select
    count(id) 
from 
    vacancies
'''

display(pd.read_sql(query_3_1, engine))

pd.read_sql('select count(id) from vacancies', engine)

   count
0  49197

   count
0  49197

***

In [3]:
select
    c.title city,
    count(c.title) cnt /* Посчитаем строки в переменную cnt */
from
    hh.city c 
join
    hh.candidate cnd on cnd.city_id = c.id /* объединяем таблицы по id города */
group by 1 
order by 2 desc

IndentationError: unexpected indent (2372526434.py, line 2)

<img src=p_2_img6.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img6.png>

**Вывод:**
1. Подавляющее большинство соискателей из **Москвы** (16,6 тысяч соискателей)
2. На втором по численности соискателей месте **Санкт-Петербург** с почти 5-ю тысячами анкет.
3. Замыкает тройку лидеров **Краснодар** с тысячей соискателей.

`Задание 3.2`

Москва бросается в глаза как, пожалуй, самый активный рынок труда. Напишите запрос, который позволит понять, каких кандидатов из Москвы устроит «проектная работа».
Формат выборки: `gender`, `age`, `desirable_occupation`, `city`, `employment_type`.
Отсортируйте результат по `id` кандидата.

In [ ]:
select
    cnd.gender,
    cnd.age,
    cnd.desirable_occupation,
    c.title,
    cnd.employment_type
from
    hh.candidate cnd 
join hh.city c on cnd.city_id = c.id 
where cnd.employment_type like '%проектная работа%' /* employment_type должно содержать в себе "проектная работа" и до и после упоминания могут быть символы */
and c.title = 'Москва'
order by cnd.id

<img src=p_2_img7.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img7.png>

**Вывод:**
Всего кандидатов из Москвы, которых устроит проектная работа: 2950 человек (что составляет почти 18% от всех соискателей из Москвы).

`Задание 3.3`

Данных оказалось многовато. Отфильтруйте только самые популярные IT-профессии — `разработчик`, `аналитик`, `программист`.
Обратите внимание, что данные названия могут быть написаны как с большой, так и с маленькой буквы.
Отсортируйте результат по `id` кандидата.

In [ ]:
select
    cnd.gender,
    cnd.age,
    cnd.desirable_occupation,
    c.title,
    cnd.employment_type
from
    hh.candidate cnd 
join hh.city c on cnd.city_id = c.id 
where cnd.employment_type like '%проектная работа%'
and c.title = 'Москва'
and (cnd.desirable_occupation  ilike '%разработчик%' /* ilike игнорирует регистр, до и после упоминания могут быть символы */
or cnd.desirable_occupation ilike '%аналитик%' 
or cnd.desirable_occupation ilike '%программист%')
order by cnd.id

<img src=p_2_img8.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img8.png>

**Вывод:** Под более суженные рамки (город Москва, проектная работа, разработчик, аналитик, программист) подходят 778 соискателей.

`Задание 3.4`

Для общей информации попробуйте выбрать номера и города кандидатов, у которых занимаемая должность совпадает с желаемой.
Формат выборки: `id`, `city`.
Отсортируйте результат по городу и `id` кандидата.

In [ ]:
select
    cnd.id,
    c.title city
from
    hh.candidate cnd 
join hh.city c on cnd.city_id = c.id
where
    cnd.desirable_occupation = cnd.current_occupation /* условие совпадения занимаемой и желаемой должности */
order by 2, 1

<img src=p_2_img9.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img9.png>

`Задание 3.5`

Определите количество кандидатов пенсионного возраста.
Пенсионный возраст для мужчин наступает в 65 лет, для женщин — в 60 лет.

In [ ]:
select
    count(age)
from hh.candidate
where
age != 100 /* из количественного показателя исключим "выброс" */
and 
    (gender = 'M' and age >= 65) /* пенсионный возраст для мужчин */
or
    (gender = 'F' and age >= 60) /* и для женщин */

<img src=p_2_img10.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img10.png>

**Вывод:** Кандидатов пенсионного возраста всего 75 человек (0.16% от всех соискателей, величина на грани погрешности).

##  3. Анализ кандидатов для заказчиков <a class="anchor" id=2></a>

[к содержанию](#0)

`Задание 4.1`

Для добывающей компании нам необходимо подобрать кандидатов из Новосибирска, Омска, Томска и Тюмени, которые готовы работать вахтовым методом.
Формат выборки: `gender`, `age`, `desirable_occupation`, `city`, `employment_type`, `timetable_type`.
Отсортируйте результат по городу и номеру кандидата.

In [ ]:
select
    cnd.gender,
    cnd.age,
    cnd.desirable_occupation,
    c.title city,
    cnd.employment_type,
    tt.title timetable_type
from
    hh.candidate cnd
join hh.city c on cnd.city_id = c.id /* соединение по id города */
join hh.candidate_timetable_type ctt on cnd.id = ctt.candidate_id /* затем по id кандидата */
join hh.timetable_type tt on ctt.timetable_id = tt.id /* и наконец по id вида занятости */
where
    c.title in ('Новосибирск', 'Омск', 'Томск', 'Тюмень')
and
    tt.title = 'вахтовый метод'
order by c.title, cnd.id

<img src=p_2_img11.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img11.png>

**Вывод:** Соискателей подходящих по установленным критериям немного, всего 4 в Новосибирске, 3 в Томске и по 2 в Омске и Тюмени. Не сказать, что очень много людей жаждет вахтовой работы.

`Задание 4.2`

Для заказчиков из Санкт-Петербурга нам необходимо собрать список из 10 желаемых профессий кандидатов из того же города от 16 до 21 года (в выборку включается 16 и 21, сортировка производится по возрасту) с указанием их возраста, а также добавить строку `Total` с общим количеством таких кандидатов. Напишите запрос, который позволит получить выборку вида:

<img src=p_2_img2.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img2.png>

In [ ]:
(select
    cnd.desirable_occupation,
    cnd.age
from
    hh.candidate cnd
join hh.city c on cnd.city_id = c.id
where
    cnd.age between 16 and 21
and
    c.title = 'Санкт-Петербург'
order by cnd.age
limit 10) /* первым подзапросом отберём 10 желаемых профессий для соискателей в возрасте от 16 до 21 года из Санкт-Петербурга */
union all
(select
    'Total',
    count(*)
from
    hh.candidate cnd
join hh.city c on cnd.city_id = c.id
where
    cnd.age between 16 and 21
and
    c.title = 'Санкт-Петербург') /* вторым подзапросом посчитаем общее количество соискателей из первого подзапроса */

<img src=p_2_img12.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img12.png>

**Вывод:** Кандидатов подходящих под установленные условия 161 человек.

## Общие выводы:

1. Всего в представленных данных информация о **44743** кандидатах.
2. Минимальный возраст кандидата **14 лет** максимальный (из реальных) **77 лет**.
3. Большинство соискателей находятся в диапазоне возрастов **от 24 до 33 лет**.

<img src=p_2_img13.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img13.png>

4. Соискателей мужчин в **4 раза больше**, чем женщин.

<img src=p_2_img16.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img16.png>

5. В 5ку городов с наибольшим количеством соискателей входят Москва - **37%** от всех соискателей, Санкт-Петербург - **11%**, Краснодар - **2,4%**, Новосибирск - **2,1%** и Казань **1,9%**
(Соотношения на графике справедливы для выборки соискателей ТОЛЬКО из представленных городов)

<img src=p_2_img17.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img17.png>

6. Более 2/3 соискателей ищет работу с **полной занятостью**.

<img src=p_2_img15.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img15.png>

7. ТОП-10 желаемых профессий технические (или около-технические)

<img src=p_2_img14.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img14.png>

8. Большинство соискателей удовлетворятся зарплатой от 30 до 60 тысячи рублей

<img src=p_2_img18.png>
<img src=https://github.com/hoittoken/Python/blob/master/Py/project_2/p_2_img18.png>