In [37]:
import sqlalchemy as db
db.__version__

'2.0.34'

In [1]:
import psycopg2
psycopg2.__version__

'2.9.9 (dt dec pq3 ext lo64)'

In [39]:
import psycopg2
from psycopg2 import Error

try:
    # Подключение к существующей базе данных
    connection = psycopg2.connect(user="certificate_rhymegulf",
                                  password="ff085e421541084b3575a33715dd8972f79cd02f",
                                  host="59k1f.h.filess.io",
                                  port="5433",
                                  database="certificate_rhymegulf")

    # Курсор для выполнения операций с базой данных
    cursor = connection.cursor()
    # Распечатать сведения о PostgreSQL
    print("Информация о сервере PostgreSQL")
    print(connection.get_dsn_parameters(), "\n")
    # Выполнение SQL-запроса
    cursor.execute("SELECT version();")
    # Получить результат
    record = cursor.fetchone()
    print("Вы подключены к - ", record, "\n")

except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
finally:
    if connection:
        cursor.close()
        connection.close()
        print("Соединение с PostgreSQL закрыто")

Информация о сервере PostgreSQL
{'user': 'certificate_rhymegulf', 'channel_binding': 'prefer', 'dbname': 'certificate_rhymegulf', 'host': '59k1f.h.filess.io', 'port': '5433', 'options': '', 'sslmode': 'prefer', 'sslnegotiation': 'postgres', 'sslcompression': '0', 'sslcertmode': 'allow', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'gssdelegation': '0', 'target_session_attrs': 'any', 'load_balance_hosts': 'disable'}

Вы подключены к -  ('PostgreSQL 15.6 on aarch64-unknown-linux-musl, compiled by gcc (Alpine 13.2.1_git20231014) 13.2.1 20231014, 64-bit',)

Соединение с PostgreSQL закрыто

In [6]:
import psycopg2
from psycopg2 import Error

try:
    # Подключиться к существующей базе данных
    connection = psycopg2.connect(user="certificate_rhymegulf",
                                  password="ff085e421541084b3575a33715dd8972f79cd02f",
                                  host="59k1f.h.filess.io",
                                  port="5433",
                                  database="certificate_rhymegulf")

    # Создайте курсор для выполнения операций с базой данных
    cursor = connection.cursor()
    # SQL-запрос для создания новой таблицы
    create_table_query_1 = '''
                        CREATE TABLE cloveri.interns
                          (id           VARCHAR(32)   PRIMARY KEY   NOT NULL,
                          email         VARCHAR(320)                NOT NULL,
                          name          VARCHAR(100),
                          role          VARCHAR(100),
                          internship    VARCHAR(100),
                          start_date    DATE,
                          end_date      DATE,
                          notes         TEXT   
                          ); '''
    create_table_query_2 = '''
                        CREATE TABLE cloveri.grades
                          (id                       VARCHAR(32)   PRIMARY KEY   NOT NULL,
                          AI                        NUMERIC(2,1),
                          Programming               NUMERIC(2,1),
                          Architecture              NUMERIC(2,1),
                          Project_management        NUMERIC(2,1),
                          Communication             NUMERIC(2,1),
                          Personnel_management      NUMERIC(2,1),
                          Information_management    NUMERIC(2,1),
                          Infrastructure            NUMERIC(2,1),
                          Data_management           NUMERIC(2,1),
                          Math                      NUMERIC(2,1),
                          Data_analysis             NUMERIC(2,1),
                          Visual                    NUMERIC(2,1),
                          UX_UI                     NUMERIC(2,1),
                          SEO                       NUMERIC(2,1),
                          skill17                   NUMERIC(2,1),
                          skill18                   NUMERIC(2,1),
                          skill19                   NUMERIC(2,1),
                          skill20                   NUMERIC(2,1)
                          ); '''
    create_table_query_3 = '''
                        CREATE TABLE cloveri.skills
                          (role                     VARCHAR(100)    PRIMARY KEY   NOT NULL,
                          internship                VARCHAR(100)                  NOT NULL,
                          Pycaret                   BOOLEAN,
                          Random_Forest             BOOLEAN,
                          Anomaly_Detеction         BOOLEAN,
                          Gradient_Boosting         BOOLEAN,
                          Cluster_analysis          BOOLEAN,
                          K_fold                    BOOLEAN,
                          Optuna                    BOOLEAN,
                          Shap                      BOOLEAN,
                          Tsfresh                   BOOLEAN,
                          Sklearn_feature_selection BOOLEAN,
                          imblearn                  BOOLEAN,
                          Streamlit                 BOOLEAN,
                          tool13                    BOOLEAN,
                          tool14                    BOOLEAN,
                          tool15                    BOOLEAN,
                          tool16                    BOOLEAN,
                          tool17                    BOOLEAN,
                          tool18                    BOOLEAN,
                          tool19                    BOOLEAN,
                          tool20                    BOOLEAN
                        ); '''
    # Выполнение команды: это создает новую таблицу
    cursor.execute(create_table_query_1)
    cursor.execute(create_table_query_2)
    cursor.execute(create_table_query_3)
    connection.commit()
    print("Таблица успешно создана в PostgreSQL")

except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
finally:
    if connection:
        cursor.close()
        connection.close()
        print("Соединение с PostgreSQL закрыто")

Таблица успешно создана в PostgreSQL
Соединение с PostgreSQL закрыто

In [ ]:
import psycopg2
from psycopg2 import Error

try:
    # Подключиться к существующей базе данных
    connection = psycopg2.connect(user="certificate_rhymegulf",
                                  password="ff085e421541084b3575a33715dd8972f79cd02f",
                                  host="59k1f.h.filess.io",
                                  port="5433",
                                  database="certificate_rhymegulf")

    cursor = connection.cursor()
    # Выполнение SQL-запроса для вставки данных в таблицу
    cursor.execute(""" INSERT INTO cloveri.interns (
                                    id, 
                                    email, 
                                    name,
                                    role,
                                    internship,
                                    start_date,
                                    end_date
                                    ) VALUES (
                                    'f1', 
                                    'work.aubakirov@gmail.com', 
                                    'Miguel Aubakirov',
                                    'Python-программист',
                                    'Кабинет Кловери',
                                    '2025-01-15',
                                    '2025-04-28'
                                    ),(
                                    'f2', 
                                    'work.aubakirov@gmail.com', 
                                    'Miguel Aubakirov',
                                    'Python-разработчик',
                                    'MAIBO',
                                    '2025-01-15',
                                    '2025-04-28'
                                    ),(
                                    'f3', 
                                    'sample@gmail.com', 
                                    'Nombre Apellido',
                                    'QA-инженер',
                                    'MAIBO',
                                    '2025-01-15',
                                    '2025-04-28'
                                    ),(
                                    'f4', 
                                    'sample1@gmail.com', 
                                    'Jose Rodrigo',
                                    'UX/UI-дизайнер',
                                    'Платформа для ВУЗов',
                                    '2025-01-15',
                                    '2025-02-28'
                                    )""")
    connection.commit()
    print("2 записи успешно вставлены")
    # Получить результат
    #cursor.execute("SELECT * cloveri.interns")
    record = cursor.fetchall()
    print("Результат", record)
    
    ''' 
    # Выполнение SQL-запроса для обновления таблицы
    update_query = """Update mobile set price = 1500 where id = 1"""
    cursor.execute(update_query)
    connection.commit()
    count = cursor.rowcount
    print(count, "Запись успешно удалена")
    # Получить результат
    cursor.execute("SELECT * cloveri.interns")
    print("Результат", cursor.fetchall())

    # Выполнение SQL-запроса для удаления таблицы
    delete_query = """Delete cloveri.interns where id = 1"""
    cursor.execute(delete_query)
    connection.commit()
    count = cursor.rowcount
    print(count, "Запись успешно удалена")
    # Получить результат
    cursor.execute("SELECT * cloveri.interns")
    print("Результат", cursor.fetchall())
    '''

except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
finally:
    if connection:
        cursor.close()
        connection.close()
        print("Соединение с PostgreSQL закрыто")

2 записи успешно вставлены
Ошибка при работе с PostgreSQL syntax error at or near "cloveri"
LINE 1: SELECT * cloveri.interns
                 ^

Соединение с PostgreSQL закрыто

In [ ]:
try:
    # Подключиться к существующей базе данных
    connection = psycopg2.connect(user="certificate_rhymegulf",
                                  password="ff085e421541084b3575a33715dd8972f79cd02f",
                                  host="59k1f.h.filess.io",
                                  port="5433",
                                  database="certificate_rhymegulf")

    cursor = connection.cursor()
    # Выполнение SQL-запроса для вставки данных в таблицу
    cursor.execute(""" INSERT INTO cloveri.grades (
                                    id, 
                                    ai, 
                                    programming,
                                    architecture,
                                    project_management,
                                    communication,
                                    personnel_management,
                                    information_management,
                                    infrastructure,
                                    data_management,
                                    math,
                                    data_analysis
                                    ) VALUES (
                                    'f7bc38cc',
                                    3.2, 
                                    4.7,
                                    4.8,
                                    4.3,
                                    5.6,
                                    4.8,
                                    4.4,
                                    5.0,
                                    3.8,
                                    5.6,
                                    4.7
                                    )""")
    cursor.execute(""" INSERT INTO cloveri.grades (
                                    id, 
                                    ai, 
                                    project_management,
                                    communication,
                                    personnel_management,
                                    information_management,
                                    infrastructure,
                                    data_management,
                                    visual,
                                    ux_ui,
                                    seo,
                                    typography
                                    ) VALUES (
                                    'f7bc38aa',
                                    4.3, 
                                    5.0,
                                    5.2,
                                    4.8,
                                    4.0,
                                    3.7,
                                    3.3,
                                    5.8,
                                    4.9,
                                    3.3,
                                    5.2
                                    )""")
    connection.commit()
    print("2 записи успешно вставлены")
    # Получить результат
    cursor.execute("select * from cloveri.interns")
    record = cursor.fetchall()
    print("Результат", record)

except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
finally:
    if connection:
        cursor.close()
        connection.close()
        print("Соединение с PostgreSQL закрыто")

2 записи успешно вставлены
Ошибка при работе с PostgreSQL syntax error at or near "cloveri"
LINE 1: SELECT * cloveri.interns
                 ^

Соединение с PostgreSQL закрыто

In [74]:
import pandas as pd

In [92]:
connection = psycopg2.connect(user="certificate_rhymegulf",
                                  password="ff085e421541084b3575a33715dd8972f79cd02f",
                                  host="59k1f.h.filess.io",
                                  port="5433",
                                  database="certificate_rhymegulf")

query = f''' 
select 
    *
from
    cloveri.grades
    '''
df = pd.read_sql_query(query, connection)
connection.close()
df

C:\Users\Miguel\AppData\Local\Temp\ipykernel_1300\901843610.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,id,ai,programming,architecture,project_management,communication,personnel_management,information_management,infrastructure,data_management,math,data_analysis,visual,ux_ui,seo,typography
0,f7bc38cc,3.2,4.7,4.8,4.3,5.6,4.8,4.4,5.0,3.8,5.6,4.7,NaN,NaN,NaN,NaN
1,f7bc38aa,4.3,NaN,NaN,5.0,5.2,4.8,4.0,3.7,3.3,NaN,NaN,5.8,4.9,3.3,5.2

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2 non-null      object
 1   ai                      2 non-null      float64
 2   programming             1 non-null      float64
 3   architecture            1 non-null      float64
 4   project_management      2 non-null      float64
 5   communication           2 non-null      float64
 6   personnel_management    2 non-null      float64
 7   information_management  2 non-null      float64
 8   infrastructure          2 non-null      float64
 9   data_management         2 non-null      float64
 10  math                    1 non-null      float64
 11  data_analysis           1 non-null      float64
 12  visual                  1 non-null      float64
 13  ux_ui                   1 non-null      float64
 14  seo                     1 non-null      float64
 15  typography              1 non-null      float64
dtypes: float64(15), object(1)
memory usage: 388.0+ bytes

In [76]:
connection = psycopg2.connect(user="certificate_rhymegulf",
                                  password="ff085e421541084b3575a33715dd8972f79cd02f",
                                  host="59k1f.h.filess.io",
                                  port="5433",
                                  database="certificate_rhymegulf")

query = f''' 
select 
    *
from
    cloveri.interns
    '''
df = pd.read_sql_query(query, connection)
connection.close()
df

C:\Users\Miguel\AppData\Local\Temp\ipykernel_1300\3985458489.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,id,email,name,role,internship,start_date,end_date,notes
0,f7bc38cc,work.aubakirov@gmail.com,Miguel Aubakirov,Data Scientist,Clovery Cab,2024-12-01,2025-01-15,None
1,f7bc38aa,work.aubakirov@gmail.com,Miguel Aubakirov,Web Designer,MAIBO,2024-07-01,2025-12-15,None

In [80]:
df['name'] = df['name'].astype(str)
df['name']

0    Miguel Aubakirov
1    Miguel Aubakirov
Name: name, dtype: object